* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #444444;
}

.canvas {   
    padding: 8px;
    height: 92vh;
    width: 100vw;    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.canvas h4{
    font-size: 1.6vw;
}

.canvas h5 {
    font-size: 1.3vw;
}


.ementa input {
    margin-left: 15px;
    width: 97%;
    background: none;
    color: #26d4a4;
    font-size: 1vw;
}

.canvas form {
    width: 100%;
    height: 95%;
    margin: 6px;
    overflow: hidden;
}

.canvas button {
    background: none;
    border: none;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

.smc-textarea {
    width: 95%;
    height: 85%;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 1vw;

}

.smc-textarea-minor {
    width: 95%;
    height: 60%;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 1vw;

}

textarea::-webkit-scrollbar {
  width: 0.3rem;
  background-color: none; }

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: none;
  background-color: #ee5858; }

.pretensao, .requisitos-documentais, .nome-peca {
    background-color: rgb(204, 181, 42);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
    grid-row: span 2;
}

.pretensao:focus-within, .requisitos-documentais:focus-within, .nome-peca:focus-within {
    box-shadow: 5px 5px 5px black;
    background-color: rgb(224, 201, 52);
}

.causa-pedir, .pedidos, .beneficios {
    background-color: rgb(199, 151, 221);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
    grid-row: span 2;
}

.causa-pedir:focus-within, .pedidos:focus-within, .beneficios:focus-within {
    box-shadow: 5px 5px 5px black;
    background-color: rgb(229, 171, 231);
}

.partes-processo, .terceiros, .competencia, .equipe {
    background-color: rgb(223, 214, 227);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
    grid-row: span 1;
}

.partes-processo:focus-within, .terceiros:focus-within, .competencia:focus-within, .equipe:focus-within {
    box-shadow: 5px 5px 5px black;
    background-color: rgb(243, 224, 237);
}


.provas, .entregas-processuais, .restricoes {
    background-color: rgb(163, 168, 248);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}

.provas:focus-within, .entregas-processuais:focus-within, .restricoes:focus-within {
    box-shadow: 5px 5px 5px black;
    background-color: rgb(183, 188, 247);
}


.provas, .entregas-processuais, .riscos, .prazos {
    grid-row: span 2;
}

.restricoes {
    grid-column: span 2;
    grid-row: span 2
}

.honorarios, .demais-despesas {
    grid-row: span 1;
}

.riscos, .prazos, .honorarios, .demais-despesas {
    background-color: rgb(38, 212, 164);
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}

.riscos:focus-within, .prazos:focus-within, .honorarios:focus-within, .demais-despesas:focus-within {
    box-shadow: 5px 5px 5px black;
    background-color: rgb(58, 232, 174);
}


.end-footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 97%;
    margin-left: 15px;

}

.smc-message, .smc-message a {
    text-align: left;
    margin-top: 8px;
    color: greenyellow;
    font-size: 0.8vw;
}

.nav-menu, .nav-menu a {
    text-decoration: none;
    text-align: center;
    margin-top: 8px;
    color: greenyellow;
    text-decoration: none;
    font-size: 1vw;

}

.edit-menu, .edit-menu a, p {
    text-align: right;
    margin-top: 8px;
    color: greenyellow;
    text-decoration: none;
    font-size: 1vw;
}

.edit-menu a {
    padding-left: 20px;
}

@media (max-width: 1200px) {
    .canvas {
        width: 150%;
        overflow-x: auto;
    }


    .canvas h4{
        font-size: 16px;
    }

    .canvas h5 {
        font-size: 15px;
    }


    .ementa input {
        margin-left: 15px;
        font-size: 12px;
        width: 146%;
    }

    .canvas form {
        overflow: auto;
    }



    .smc-textarea {
        font-size: 12px;

    }

    .smc-textarea-minor {
        font-size: 11px;

    }

    .end-footer {
        width: 146%;

    }

    .smc-message, .smc-message a {
        font-size: 12px;
    }

    .nav-menu, .nav-menu a {
        font-size: 16px;

    }

    .edit-menu, .edit-menu a, p {
        font-size: 16px;
    }

    .edit-menu a {
        padding-left: 20px;
    }
}

@media (max-width: 794px) {
    .canvas {
        width: 180%;
        overflow-x: auto;
    }


    .canvas h4{
        font-size: 13.5px;
    }

    .canvas h5 {
        font-size: 15px;
    }


    .ementa input {
        margin-left: 15px;
        font-size: 10px;
        width: 170%;
    }

    .canvas form {
        overflow: auto;
    }



    .smc-textarea {
        font-size: 11px;

    }

    .smc-textarea-minor {
        font-size: 10px;

    }

    .end-footer {
        width: 170%;

    }

    .smc-message, .smc-message a {
        font-size: 8px;
    }

    .nav-menu, .nav-menu a {
        font-size: 16px;

    }

    .edit-menu, .edit-menu a, p {
        font-size: 16px;
    }

    .edit-menu a {
        padding-left: 20px;
    }
}
