{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock head %}

{% block content %}

<header>
    <h1 id="welcome-msg">Suit Model Canvas</h1>
</header>

<section id="menu">
    <form class="menu-item"   action="." method="POST">
        {% csrf_token %}
        <button type="submit">⤷</button>
        <h2 class="form-msg">Novo SMC</h2>
    </form>

    <div class="menu-item">
        <button id="list-btn">꛷</button>
        <h2 class="form-msg">Listar cada SMC</h2>
    </div>
</section>

<section id="smc-list" class="inactive">
    {% for smc in smc_list %}
        <div>
            <a href="/smc/{{smc.id}}">
                {% if smc.ementa and smc.partes_processo %}
                    <p>{{smc.id}}: {{smc.ementa|upper}} {{smc.partes_processo|title}}</p>
                {% elif smc.ementa %}
                    <p>{{smc.id}}: {{smc.ementa|upper}}</p>
                {% elif smc.partes_processo %}
                    <p>{{smc.id}}: {{smc.partes_processo|title}}</p>
                {% else %}
                    <p>{{smc.id}}: [sem descrição]</p>
                {% endif %}
            </a>
        </div>
    {% empty %}
        <p>Lista vazia</p>
    {% endfor %}
</section>

<script src="{% static 'main.js' %}"></script>

{% endblock content %}